.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;

	background-color: var(--bg-color);
	color: var(--text-color);
	text-align: center;
	padding: 20px;
	min-height: 80px;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	.container {
		width: 100%;
		max-width: var(--max-w-container);
		display: flex;

		.header--large_screen {
			width: inherit;
			align-items: center;
			justify-content: space-between;
			display: flex;
		}

		.logo {
			font-size: 32px;
			font-weight: 700;
		}

		.search {
			width: 40%;

			@media screen and (max-width: 768px) {
				width: 60%;
			}

			@media screen and (max-width: 480px) {
				display: none;
			}
		}

		.search--small_screen {
			display: none;

			@media screen and (max-width: 480px) {
				display: inline-flex;
				margin-top: 12px;
			}
		}

		@media screen and (max-width: 480px) {
			flex-direction: column;
		}
	}
}
