.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.header {
	grid-column: 1 / -1;
}

.main {
	grid-column: 1 / -1;
	height: 100dvh;
	background-color: var(--bg-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;

	.content {
		max-width: var(--max-w-container);
		margin: 0 auto;
		width: 100%;
		padding: 20px 0;

		@media screen and (max-width: 1200px) {
			padding: 20px;
		}
	}
}

.footer {
	background-color: var(--bg-color);
	color: var(--text-color);
	grid-column: 1 / -1;
	text-align: center;
	padding: 10px;
}
